<% layout('layout') -%>
<section class="main-banner three parallax">
	<h2 class="text-uppercase">Contact Us</h2>
</section>
<!-- Main Banner Ends -->
<!-- Content Area Starts -->
<div id="content-area" class="container">
	<h3 class="main-heading center">Where to Find Me</h3>
<!-- Google Map Starts -->
	<div class="map"></div>
<!-- Google Map Ends -->
<!-- Row Starts -->
	<div class="row text-center-xs">
	<!-- Sidearea Starts -->
		<div class="col-sm-4 col-xs-12">
			<h3 class="main-heading">Contact Info</h3>
			<p class="bold">
				Lorem Ipsum is simply dummy text of the printing and typesetting industryspecimen book.
			</p>
			<p>
				Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still.
			</p>
			<ul class="list-unstyled address-list">
				<li class="clearfix">
					<i class="fa fa-map-marker pull-left"></i>
					#441 Red Hills Colony, Road No. 15, Banjara Hills,<br>
					Hyderabad - 035. Telangana.
				</li>
				<li class="clearfix">
					<i class="fa fa-phone-square pull-left"></i>
					Phone: (123) 456-7890 <br>
					Fax : 123 456 8965
				</li>
				<li class="clearfix">
					<i class="fa fa-envelope pull-left"></i>
					<a href="mailto:mail@yourdomainname.com">mail@yourdomainname.com</a>
				</li>
			</ul>
		</div>
	<!-- Sidearea Ends -->
	<!-- Mainarea Starts -->
		<div class="col-sm-8 col-xs-12">
			<h3 class="main-heading">Contact Form</h3>
			<p>
				Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
			</p>
		<!-- Contact Form Starts -->
			<div class="status alert alert-success contact-status"></div>
			<form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php" role="form">
				<div class="row">
				<!-- Name Field Starts -->
					<div class="col-md-6">
						<div class="form-group">
							<label for="name" class="sr-only">Name: </label>
							<input type="text" class="form-control" name="name" id="name" required="required" placeholder="NAME">
						</div>
					</div>
				<!-- Name Field Ends -->
				<!-- Email Field Starts -->
					<div class="col-md-6">
						<div class="form-group">
							<label for="email" class="sr-only">Email: </label>
							<input type="text" class="form-control" name="email" id="email" required="required" placeholder="EMAIL">
						</div>
					</div>
				<!-- Email Field Ends -->
				<!-- Phone No Field Starts -->
					<div class="col-md-6">
						<div class="form-group">
							<label for="phoneno" class="sr-only">Phone No: </label>
							<input type="text" class="form-control" name="phoneno" id="phoneno" required="required" placeholder="PHONE NO">
						</div>
					</div>
				<!-- Phone No Field Ends -->
				<!-- Subject Field Starts -->
					<div class="col-md-6">
						<div class="form-group">
							<label for="subject" class="sr-only">Subject: </label>
							<input type="text" class="form-control" name="subject" id="subject" required="required" placeholder="SUBJECT">
						</div>
					</div>
				<!-- Subject Field Ends -->
				<!-- Message Field Starts -->
					<div class="col-xs-12">
						<div class="form-group">
							<label for="message" class="sr-only">Message: </label>
							<textarea class="form-control" rows="8" name="message" id="message" required="required" placeholder="MESSAGE"></textarea>
						</div>
					</div>
				<!-- Message Field Ends -->
				<div class="col-xs-12">
					<input type="submit" class="btn btn-lg btn-main" value="Submit Form">
				</div>
				</div>
			</form>
		<!-- Contact Form Ends -->
		</div>
	<!-- Mainarea Ends -->
	</div>
<!-- Row Ends -->
</div>
<!-- Content Area Ends -->